<!DOCTYPE HTML>
<html>
	<head>
		<title>KEDAR JANANI CHEMPLAST PVT. LTD.</title>
		<link rel="shortcut icon" href="images/favicon11.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon11.ico" type="image/x-icon">
		<link href="css/style.css" rel="stylesheet" type="text/css"  media="all" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<!---start-wrap---->
		
			<!---start-header---->
			<div class="header">
			
					<div class="main-header">
						<div class="wrap">
							<div class="logo">
								<img src="images/abc.png" title="KEDAR JANANI CHEMPLAST PVT. LTD." />
							</div>
							<div class="social-links">
								<ul>
									<li><a href="https://www.facebook.com/" target="_blank"><img src="images/facebook11.png" title="facebook" /></a></li>
									
									<li><a href="https://in.linkedin.com/" target="_blank"><img src="images/linked-in11.png" title="linked in" /></a></li>
									<div class="clear"> </div>
								</ul>
							</div>
							<div class="clear"> </div>
						</div>
					</div>
					<div class="clear"> </div>
					<div class="top-nav">
						<div class="wrap">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li><a href="visionandmission.html">Vision & Mission</a></li>
								<li class="active"><a href="about.html">About Us</a></li>
								<li><a href="product.html">Products</a></li>
								
								<li><a href="contact.html">Contact</a></li>
								<li><a href="enquiry.html">Enquiry</a></li>
								<div class="clear"> </div>
							</ul>
						</div>
					</div>
			</div>
			<br>
			<!---End-header---->
			<img id="tab" src="images/abs.png" alt="">
			<!----start-content----->
			<div class="content">
				<div class="wrap">
				<div class="about">
					<div class="about-topgrid1">
										<h3>Who are we?</h3>
										
										<h4> KEDAR JANANI CHEMPLAST PVT. LTD </h4>
										<p>Our company was founded in 1995. Since then, it has consistently shown the upper graph in terms of manufacturing of Active Pharma Ingredient, Advanced Pharmaceutical Intermediates and fine chemicals.</p>
										<p>We are an ISO 9001:2008 certified company and follows GMP norms.</p>
										<p>Our manufacturing unit is located at Tarapur, approximately 120km from Mumbai airport (about 2 hours by road).</p>
																																					
									</div>
					<div class="about-histore">   
									<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Our focus</h3>
									<div class="historey-lines">
										<ul>
											
											<li><p>To ensure customer satisfaction.</p></li>
											<div class="clear"> </div>
										</ul>
									</div>
									<div class="historey-lines">
										<ul>
											
											<li><p>To comply with statutory requirements.</p></li>
											<div class="clear"> </div>
										</ul>
									</div>
									<div class="historey-lines">
										<ul>
											
											<li><p>To continuously impart training to our employees to ensure their overall growth.</p></li>
											<div class="clear"> </div>
										</ul>
									</div>
									<div class="historey-lines">
										<ul>
										
											<li><p>To produce defect-free materials.</p></li>
											<div class="clear"> </div>
										</ul>
									</div>
									<div class="historey-lines">
										<ul>
											
											<li><p>To attain both a national and a global reach.</p></li>
											<div class="clear"> </div>
										</ul>
									</div>                                      
									<div class="clear"> </div> 
								</div>                                                 
					<div class="about-services">
									<h3>OUR EXPERTISE</h3>
								
									<ul>
								    	<li><a href="">Amination</a></li>
										<li><a href="">Cynation</a></li>
										<li><a href="">Halogenation</a></li>
										<li><a href="">Nitration</a></li>
										<li><a href="">Diazotization</a></li>
										<li><a href="">Esterification</a></li>
								  	    <li><a href="">Hydrogenation</a></li>
								    	<li><a href="">Friedel-Craft reaction</a></li>
								  	 	<li><a href="">Reduction</a></li>
								  	
										<div class="clear"> </div>
									</ul>
								</div>
						
			</div>
				<div class="clear"> </div>
				</div>                                      
			<!----End-content----->
		</div>
		<!---End-wrap---->
		<!---start-footer---->
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div class="footer">
	
		<marquee id="colo">Thank You for visiting our site. We appreciate your valuable time.</marquee>     
	<!---start-copy-right----->
				<div class="copy-tight">	
					<p><a href="index.html">Home</a> :<a href="visionandmission.html"> Vision & Mission </a>:<a href="about.html"> About Us </a>:<a href="product.html"> Products </a>:<a href="contact.html"> Contact</a> :<a href="enquiry.html"> Enquiry</a></p>
					<p>Powered by <a href="http://cloudclovis.com/" target="_blank">CloudClovis</a></p>
				</div>
				  
				<!---End-copy-right----->
	<!--		</div>    -->
		</div>
		<!---End-footer---->
	</body>
</html>

