<!DOCTYPE HTML>
<html>
	<head>
		<title>KEDAR JANANI CHEMPLAST PVT. LTD.</title>
		<link rel="shortcut icon" href="images/favicon11.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon11.ico" type="image/x-icon">
		<link href="css/style.css" rel="stylesheet" type="text/css"  media="all" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<!---start-wrap---->
		
			<!---start-header---->
			<div class="header">
			
					<div class="main-header">
						<div class="wrap">
							<div class="logo">
								<img src="images/abc.png" title="KEDAR JANANI CHEMPLAST PVT. LTD." />
							</div>
							<div class="social-links">
								<ul>
									<li><a href="https://www.facebook.com/" target="_blank"><img src="images/facebook11.png" title="facebook" /></a></li>
									
									<li><a href="https://in.linkedin.com/" target="_blank"><img src="images/linked-in11.png" title="linked in" /></a></li>
									<div class="clear"> </div>
								</ul>
							</div>
							<div class="clear"> </div>
						</div>
					</div>
					<div class="clear"> </div>
					<div class="top-nav">
						<div class="wrap">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li><a href="visionandmission.html">Vision & Mission</a></li>
								<li><a href="about.html">About Us</a></li>
								<li><a href="product.html">Products</a></li>
								<li><a href="contact.html">Contact</a></li>
								<li class="active"><a href="enquiry.html">Enquiry</a></li>
								<div class="clear"> </div>
							</ul>
						</div>
					</div>
			</div>
			<br>
			<!---End-header---->
			<img id="tab" src="images/en.png" alt="">
			<!----start-content----->
			<div class="content">
				<div class="wrap">
					<!---start-contact---->
					<div class="contact">
						<div class="section group">				
				<div class="col span_1_of_3">
					<div class="contact_info">
			    	 	<img src="images/contactus11.png" title="contact us" />
      				</div>
					
      			<div class="company_address">
				     	<h3>Company Information :</h3>
						    	<p>T-42/43/44, M.I.D.C., Tarapur,</p>
						   		<p>Boisar, Dist. Thane-401506.</p>
						   		<p>Maharashtra, India.</p>
				   		<p>Phone:+(91)-(2525)-274475 / 279108.</p>
				   		
				 	 	<p>Email: <span>kjcp95@yahoo.co.in</span></p>
				   		<p>Follow on: <span><a href="https://www.facebook.com/" target="_blank" style="text-decoration:none">Facebook</a></span>, <span><a href="https://in.linkedin.com/" target="_blank" style="text-decoration:none">Linked In</a></span></p>
				   </div>
				</div>				
				<div class="col span_2_of_3">
				  <div class="contact-form">
				  	<h3>Enquiry Form</h3>
					    <form method="post">
					    	<div class="error">
						   		{{error}}
						   </div>
                            <div>
						    	<span><label>Your name:</label></span>
						    	<span><input name="name" type="text" value=""></span>
						    </div>
						    <div>
						    	<span><label>Company/organization name:</label></span>
						    	<span><input name="company" type="text" value=""></span>
						    </div>
						    <div>
						     	<span><label>Designation:</label></span>
						    	<span><input name="designation" type="text" value=""></span>
						    </div>
						    <div>
						    	<span><label>Address:</label></span>
								<input name="block" type="text" value="">
						    </div> 
                          <!--  <div>
						    	<span><label>Block No.:</label></span>
						    	<span><input name="block" type="text" value=""></span>
						    </div>
						    <div>
						    	<span><label>City:</label></span>
						    	<span><input name="city" type="text" value=""></span>
						    </div>
						    <div>
						     	<span><label>State:</label></span>
						    	<span><input name="state" type="text" value=""></span>
						    </div>
						   
						   <div>
						    	<span><label>Country:</label></span>
						    	<span><input name="country" type="text" value=""></span>
						    </div>  -->
						    <div>
						    	<span><label>Contact Number (with STD/ISD code):</label></span>
						    	<input name="contact" type="text" value="">
						    </div>
						    <div>
						     	<span><label>Email Id:</label></span>
						    	<span><input name="email" type="text" value=""></span>
						    </div>
						    <div>
						    	<span><label>Requirement/Queries:</label></span>
						    	<span><textarea name="requirement"> </textarea></span>
						    </div>
                           <div>
						   		<span><input type="submit" value="Submit"></span>
						   </div>
					    </form>
				    </div>
  				</div>				
			  </div>
					</div>
					<!---End-contact---->
				<div class="clear"> </div>
				</div>
			<!----End-content----->
		</div>
		<!---End-wrap---->
		<!---start-footer---->
	<div class="footer">
	
		<marquee id="colo">Thank You for visiting our site. We appreciate your valuable time.</marquee>     
	<!---start-copy-right----->
				<div class="copy-tight">	
					<p><a href="index.html">Home</a> :<a href="visionandmission.html"> Vision & Mission </a>:<a href="about.html"> About Us </a>:<a href="product.html"> Products </a>:<a href="contact.html"> Contact</a> :<a href="enquiry.html"> Enquiry</a></p>
					<p>Powered by <a href="http://cloudclovis.com/" target="_blank">CloudClovis</a></p>
				</div>
				  
				<!---End-copy-right----->
	<!--		</div>    -->
		</div>
				<!---End-copy-right----->
	<!--		</div>    -->
		</div>
		<!---End-footer---->
	</body>
</html>

