<!DOCTYPE HTML>
<html>
	<head>
		<title>KEDAR JANANI CHEMPLAST PVT. LTD.</title>
		<link rel="shortcut icon" href="images/favicon11.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon11.ico" type="image/x-icon">
		<link href="css/style.css" rel="stylesheet" type="text/css"  media="all" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<!---start-wrap---->
		
			<!---start-header---->
			<div class="header">
			
					<div class="main-header">
						<div class="wrap">
							<div class="logo">
								<img src="images/abc.png" title="KEDAR JANANI CHEMPLAST PVT. LTD." />
							</div>
							<div class="social-links">
								<ul>
									<li><a href="https://www.facebook.com/" target="_blank"><img src="images/facebook11.png" title="facebook" /></a></li>
									
									<li><a href="https://in.linkedin.com/" target="_blank"><img src="images/linked-in11.png" title="linked in" /></a></li>
									<div class="clear"> </div>
								</ul>
							</div>
							<div class="clear"> </div>
						</div>
					</div>
					<div class="clear"> </div>
					<div class="top-nav">
						<div class="wrap">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li><a href="visionandmission.html">Vision & Mission</a></li>
								<li><a href="about.html">About Us</a></li>
								<li class="active"><a href="product.html">Products</a></li>
								<li><a href="contact.html">Contact</a></li>
								<li><a href="enquiry.html">Enquiry</a></li>
								<div class="clear"> </div>
							</ul>
						</div>
					</div>
			</div>
			<br>
			<!---End-header---->
	<!--		<img src="images/pro.png" alt="">  -->
			
			<!----start-content----->
			<div class="content">
				<div class="wrap">
					<div class="services1">
						<h4>Active Pharma Ingredient</h4>
						 <table style="font-family: 'Open Sans', sans-serif; font-size: 14px; width:70%" id="t01" >
							  <tr>
								<th bgcolor="#819FF7">ACTIVE PHARMA INGREDIENT</th>
								<th bgcolor="#819FF7">THERAPEUTIC USE</th>
								<th bgcolor="#819FF7">CAS NUMBER</th>
							  </tr>
							  <tr>
								<td>Diethyl Carbamazine Citrate IP/BP/USP</td>
								<td>Antifilarial</td>
								<td>1642-54-2</td>
							  </tr>
							  <tr>
								<td>Dimenhydrinate BP/USP/EP</td>
								<td>Antiemetic</td>
								<td>523-87-5</td>
							  </tr>
							  <tr>
								<td>Diphenhydramine HCl IP/BP/USP</td>
								<td>Antihistamine</td>
								<td>147-24-0</td>
							  </tr>
							  <tr>
								<td>Mephenesin IP/BPC</td>
								<td>Muscle Relaxant</td>
								<td>59-47-2</td>
							  </tr>
							  <tr>
								<td>Chlorphenesin IP/BP</td>
								<td>Muscle Relaxant</td>
								<td>104-29-0</td>
							  </tr>
							  <tr>
								<td>Phenylephrine HCl IP/BP/USP</td>
								<td>Anticold </td>
								<td>61-76-7</td>
							  </tr>
							</table> 
						
							<h4>Drug Intermediates</h4>
						 <table style="font-family: 'Open Sans', sans-serif; font-size: 14px; width:70%">
							  <tr>
								<th bgcolor="#819FF7">APPLICATION</th>
								<th bgcolor="#819FF7">INTERMEDIATE</th>
								<th bgcolor="#819FF7">CAS NUMBER</th>
							  </tr>
							  <tr>
								<td bgcolor="white">Nebivolo </td>
								<td bgcolor="#E0F8E6">6-Fluoro-3,4-dihydro-2H-1-benzopyran-2-carboxlic acid </td>
								<td bgcolor="#E0F8E6">129050-20-0</td>
							  </tr>
							  <tr>
								<td bgcolor="white"></td>
								<td bgcolor="#E0F8E6">6-Fluoro-3,4-dihydro-(2H)-1-benzopyran-2-carboxylic acid methyl ester</td>
								<td bgcolor="#E0F8E6">874649-82-8</td>
							  </tr>
							  <tr>
								<td bgcolor="white"></td>
								<td bgcolor="#E0F8E6">6-Fluoro-3,4-dihydro-(2H)-1-benzopyran-2-carboxylic acid ethyl ester</td>
								<td bgcolor="#E0F8E6">99199-61-8</td>
							  </tr>
							  <tr>
								<td bgcolor="white">Phenylephrine</td>
								<td bgcolor="#F6D8CE">α-Methyl amino-M-hydroxy acetophenone sulphate</td>
								<td bgcolor="#F6D8CE">679394-62-8</td>
							  </tr>
							  <tr>
								<td bgcolor="white">Ketoconazole</td>
								<td bgcolor="#F6F6F6">-Acetyl-4-(4-hydroxyphenyl)piperazine </td>
								<td bgcolor="#F6F6F6">67914-60-7</td>
							  </tr>
							  <tr>
								<td bgcolor="white"></td>
								<td bgcolor="#F6F6F6">Bis(2-chloroethyl)amine hydrochloride</td>
								<td bgcolor="#F6F6F6">821-48-7</td>
							  </tr>
							  <tr>
								<td bgcolor="white">Resolving Agent</td>
								<td bgcolor="#D8CEF6">(−)-O,O′-Dibenzoyl-L-tartaric acid monohydrate</td>
								<td bgcolor="#D8CEF6">62708-56-9</td>
							  </tr>
							  <tr>
								<td bgcolor="white"></td>
								<td bgcolor="#D8CEF6">(+) -O,O'-Dibenzoyl-D-Tartaric Acid Monohydrate</td>
								<td bgcolor="#D8CEF6">80822-15-7</td>
							  </tr>
							  <tr>
								<td bgcolor="white">Intermediates</td>
								<td bgcolor="#F6CEE3">Potassium hydroxide powder </td>
								<td bgcolor="#F6CEE3">1310-58-3</td>
							  </tr>
							  <tr>
								<td bgcolor="white"></td>
								<td bgcolor="#F6CEE3">4-Bromo aniline</td>
								<td bgcolor="#F6CEE3">106-40-1 </td>
							  </tr>
							  <tr>
								<td bgcolor="white"></td>
								<td bgcolor="#F6CEE3">Succinimide</td>
								<td bgcolor="#F6CEE3">123-56-8</td>
							  </tr>
							  <tr>
								<td bgcolor="white"></td>
								<td bgcolor="#F6CEE3">Cyanogen bromide </td>
								<td bgcolor="#F6CEE3">506-68-3</td>
							  </tr>
							  <tr>
								<td bgcolor="white">Plant Growth Hormones</td>
								<td bgcolor="#E0F8E6">Indol-3-aceticacid</td>
								<td bgcolor="#E0F8E6">87-51-4</td>
							  </tr>
							  <tr>
								<td bgcolor="white">Midazolam Intermediate</td>
								<td bgcolor="#D8CEF6">2-aminomethyl-7-chloro-2,3-dihydro-5-(2-fluorophenyl)-1h-1,<br>4-benzodiazepine dimaleate</td>
								<td bgcolor="#D8CEF6">59469-29-3</td>
							  </tr>
							  <tr>
								<td bgcolor="white"></td>
								<td bgcolor="#D8CEF6">8-Chloro-3a,4-dihydro-6-(2-fluorophenyl)<br>-1-methyl-4H-imidazol[1,5-a][1,4]benzodiazepine</td>
								<td bgcolor="#D8CEF6">59467-69-5</td>
							  </tr>
							 
							</table> 
							<br><br>
					</div>
					</div>
				<div class="clear"> </div>
				</div>
			<!----End-content----->
		</div>
		<!---End-wrap---->
		<!---start-footer---->
		<h3 style="font-family: 'Open Sans', sans-serif; font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;** Multipurpose & well equipped manufacturing facility suitable for customized contract manufacturing.</h3>
		<br/>
		
		<br/><br/><br/><br/>
<div class="footer">
	
		<marquee id="colo">Thank You for visiting our site. We appreciate your valuable time.</marquee>     
	<!---start-copy-right----->
				<div class="copy-tight">	
					<p><a href="index.html">Home</a> :<a href="visionandmission.html"> Vision & Mission </a>:<a href="about.html"> About Us </a>:<a href="product.html"> Products </a>:<a href="contact.html"> Contact</a> :<a href="enquiry.html"> Enquiry</a></p>
					<p>Powered by <a href="http://cloudclovis.com/" target="_blank">CloudClovis</a></p>
				</div>
				  
				<!---End-copy-right----->
	<!--		</div>    -->
		</div>
		<!---End-footer---->
	</body>
</html>

