<!DOCTYPE HTML>
<html>
	<head>
		<title>KEDAR JANANI CHEMPLAST PVT. LTD.</title>
		<link rel="shortcut icon" href="images/favicon11.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon11.ico" type="image/x-icon">
		<link href="css/style.css" rel="stylesheet" type="text/css"  media="all" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<!---start-wrap---->
		
			<!---start-header---->
			<div class="header">
			
					<div class="main-header">
						<div class="wrap">
							<div class="logo">
								<img src="images/abc.png" title="KEDAR JANANI CHEMPLAST PVT. LTD." />
							</div>
							<div class="social-links">
								<ul>
									<li><a href="https://www.facebook.com/" target="_blank"><img src="images/facebook11.png" title="facebook" /></a></li>
									
									<li><a href="https://in.linkedin.com/" target="_blank"><img src="images/linked-in11.png" title="linked in" /></a></li>
									<div class="clear"> </div>
								</ul>
							</div>
							<div class="clear"> </div>
						</div>
					</div>
					<div class="clear"> </div>
					<div class="top-nav">
						<div class="wrap">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li class="active"><a href="visionandmission.html">Vision & Mission</a></li>
								<li><a href="about.html">About Us</a></li>
								<li><a href="product.html">Products</a></li>
								
								<li><a href="contact.html">Contact</a></li>
								<li><a href="enquiry.html">Enquiry</a></li>
								<div class="clear"> </div>
							</ul>
						</div>
					</div>
			</div>
			<br>
			<!---End-header---->
		<!--	<img id="tab" src="images/vm.png" alt=""> -->
			<!----start-content----->
			<div class="content">
				<div class="wrap">
					<div class="services1">
						
						<div class="content-top-grids services-grids">
                        
						<div class="content-top-grid services-grid1">
                        <h4>Our Vision:</h4>
							<div class="content-top-grid-header">
								<div class="content-top-grid-pic">
									<img src="images/vis.jpg" title="image-name">
								</div>
								<div class="content-top-grid-title">
									<h3>Vision</h3>
								</div>
								<div class="clear"> </div>
							</div>
								<p>To be viewed as the best manufacturer of pharmaceutical products in the world.</p>
								
								<div class="clear"> </div>
						</div>
                        <div class="content-top-grid services-grid1">
                        <img src="images/vision.jpg" title="image-name" height="250" width="400">
								<div class="clear"> </div>
						</div>
                        <hr>
						<div class="content-top-grid services-grid1">
                        <h4>Our Mission:</h4>
							<div class="content-top-grid-header">
								<div class="content-top-grid-pic">
									<img src="images/mis.jpg" title="image-name">
								</div>
								<div class="content-top-grid-title">
									<h3>Mission</h3>
								</div>
								<div class="clear"> </div>
							</div>
								<p>Profitable growth through superior customer service, innovation, quality and commitment.</p>
                                <p>We satisfy our customers by delivering the best quality products and services.</p>
                                <p>Our desire to grow drives our passion to win in the marketplace.</p>
								
								<div class="clear"> </div>
						</div>
                        <div class="content-top-grid services-grid1">
                        <img src="images/mission.jpg" title="image-name" height="250" width="400">
								<div class="clear"> </div>
						</div>
						<div class="clear"> </div>
					</div>
					</div>
				<div class="clear"> </div>
				</div>
			<!----End-content----->
		</div>
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
		<!---End-wrap---->
		<!---start-footer---->
<div class="footer">
	
		<marquee id="colo">Thank You for visiting our site. We appreciate your valuable time.</marquee>     
	<!---start-copy-right----->
				<div class="copy-tight">	
					<p><a href="index.html">Home</a> :<a href="visionandmission.html"> Vision & Mission </a>:<a href="about.html"> About Us </a>:<a href="product.html"> Products </a>:<a href="contact.html"> Contact</a> :<a href="enquiry.html"> Enquiry</a></p>
					<p>Powered by <a href="http://cloudclovis.com/" target="_blank">CloudClovis</a></p>
				</div>
				  
				<!---End-copy-right----->
	<!--		</div>    -->
		</div>
		<!---End-footer---->
	</body>
</html>

